# Node
node_modules

# Python
venv
__pycache__

# Racket
*.bak
compiled

.env

# Schoology
api-creds.json

# Zoom
credentials.json
refresh-token.txt

# VSCode (because the Deno plugin is annoying and affects JS files)
.vscode
