<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>500.</title>
    <meta name="description" content="<%= err.message %>" />
  </head>
  <body>
    <h1>500.</h1>
    <p><%= err.message %></p>
    <pre><%= err.stack %></pre>
  </body>
</html>
