.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid color-mix(in srgb, currentColor var(--percent), transparent);
  border-radius: 15px;
}

.line {
  border: none;
  border-top: 1px solid
    color-mix(in srgb, currentColor var(--percent), transparent);
}
