<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Schoology OAuth redirect</title>
    <meta http-equiv="refresh" content="0;URL='<%= url %>'" />
  </head>
  <body>
    <h1>You need to sign in</h1>
    <p>Head to <a href="<%= url %>">Schoology</a> to link your account.</p>
  </body>
</html>
